
body{ 

    background: hsl(36, 100%, 99%);
    padding: 60px;
    font-family: "Inter",sans-serif ;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;

}

.nav_menu{
    display: flex;
    justify-content: space-between;
    
}
.nav_menu li{
    list-style: none;
    margin-inline: 20px;
    font-size: 17px;
    

}
.nav_menu a{
    text-decoration: none;
    color:hsl(236, 13%, 42%);
    transition: color 0.3s ease;
}

.nav_menu a:hover {
    color:hsl(5, 85%, 63%) ; /* Change the text color on hover to a different color (e.g., orange) */
}


main{

    margin-top: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 15px;
}

.section_left img{
    width:100%;


}

.subheading{
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.subheading h1{
    padding-top: 0px;
    text-align:start;
    color:hsl(240, 100%, 5%);
    font-size:3.25rem;
    font-weight: 900;
    padding-inline-end: 90px;

}

.description{
    padding-top:25px;
    font-size: 18px;
    
    
}

.description p{
    color:hsl(236, 13%, 42%);
    text-align: left;
    padding-right: 10px;
    
}

.description button{
    margin-top: 21px;
    background-color:hsl(5, 85%, 63%); /* Set the background color to orange */
    color: white; /* Set the text color to white */
    padding: 15px 40px; /* Add padding to the button for spacing */
    border: none; /* Remove the default button border */
    
    cursor: pointer; /* Change cursor to a pointer on hover */
    font-size: 16px; /* Set the font size */
    
    transition: background-color 0.3s ease; 
    
}

.description button:hover {
    background-color:hsl(240, 100%, 5%);
}

/* Add a focus style for keyboard navigation */
.description button:focus {
    box-shadow: 0 0 0 3px rgba(255, 127, 0, 0.5); /* Add an orange border when the button is focused */
}


.section_right{
    padding:0 35px;
    background:hsl(240, 100%, 5%) ;
    display: flex;
    flex-direction: column;
    
}

.section_right h2{
    color:hsl(35, 77%, 62%);
    font-weight: 700;
    font-size: 2.5rem;
}
.section_right h3{
    color: white;
}
.section_right p{
    color:hsl(233, 8%, 79%);
}

.section_right li{
    list-style: none;
    border-bottom: 1px solid hsl(232, 13%, 55%);
    padding-bottom: 15px;
}


.bottom_section{ 
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    
    margin-top: 45px;

}

.card{

    display:flex;
    flex-direction: row;
}
.card img{
    width: 45%;
}
.card_desc{
    margin-left: 15px;
}

.card_desc h1{
    font-weight: 800;
    font-size: xx-large;
    color: hsl(233, 8%, 79%);
}

.card_desc p{
    color:hsl(236, 13%, 42%);
    font-size: 15px;
}


.attribution{
    width: 100%;
    margin-top: 55px;
    text-align: center;
}





